ul {
  list-style-type: none;
  width: 500px;
}

.btn-danger {
  height: 48px;
}

.main-image {
  background: url(./images/header\ img.jpg);
  height: 614px;
}

li {
  position: relative;
}

.active::after {
  content: "";
  height: 3px;
  width: 25px;
  position: absolute;
  background-color: #e5194a;
  bottom: -10px;
  left: 0;
}

.about-us h1 {
  font-size: 50px;
}

.about-us h4 {
  font-weight: bold;
}

.services {
  background-color: #f6f8f8;
}

.staff__avatar {
  background: url(./images/profile\ avatar.png);
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
}
